.card {
  background-color: var(--white);
  color: var(--black);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  position: relative;
}

/* card-testimonials */
.card-qualification {
  display: flex;
  gap: .5rem;
}

.card-qualification i {
  font-size: 18px;
}

.card-comment {
  font-size: 1.1rem;
  font-style: italic;
}

.card-author {
  font-size: 1.1rem;
  font-weight: bold;
}

/* card-product */
.cardProduct-image {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: aqua;
}

.cardProduct-image img {
  width: 100%;
  height: 200px;
  min-height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.8s ease;
}

.cardProduct-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.cardProduct-price {
  font-weight: 100;
}

.card:hover img {
  transform: scale(1.3);
  transition: 0.5s;
}