:root {
  --color-primary: gold;
  --black: #242424;
  --white: #fff;

  --fs-xs: 14px;
  --fs-s: 17px;
  --fs-m: 20px;
  --fs-l: 40px;
  --fs-xl: 60px;
  --fs-xxl: 80px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 1fr min(1200px, 90%) 1fr;
}

#root > * {
  grid-column: 2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--color-primary);
}

/* global */
.section-col2 {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
}

.title {
  font-size: var(--fs-xl);
  font-weight: bold;
  line-height: 1.1;
}

.subtitle {
  font-size: var(--fs-l);
  font-weight: bold;
  line-height: 1;
}

.paragraph {
  font-size: var(--fs-m);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.fs-xs {
  font-size: var(--fs-xs);
}

.fs-s {
  font-size: var(--fs-s);
}

.fs-m {
  font-size: var(--fs-m);
}

.fs-l {
  font-size: var(--fs-l);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.vh-10 {
  height: 10vh;
}

.vh-20 {
  height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.vh-40 {
  height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.vh-70 {
  height: 70vh;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.vh-100 {
  height: 100vh;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.pe-10 {
  padding-right: 10px;
}

.pe-20 {
  padding-right: 20px;
}

.pe-30 {
  padding-right: 30px;
}

.ps-10 {
  padding-left: 10px;
}

.ps-20 {
  padding-left: 20px;
}

.ps-30 {
  padding-left: 30px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: #fff4f0;
  }

  .cardInfo {
    background-color: var(--black);
    color: var(--white);
  }
}
