.navbar {
  position: relative;
  display: flex;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list li {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-action {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column-reverse;
    align-items: end;
    display: none;
  }
 
  .nav-action {
    display: none;
  }
}
