.slider {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80vh;
  align-items: center;
  justify-items: center;
  position: relative;
}

.sliderContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  z-index: 10;
}

.sliderContent-title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.1;
}

.sliderContent-paragraph {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3;
}

.sliderImage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.blackCape {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}

.sliderImage-img {
  width: inherit;
}

@media (max-width: 768px) {
  .sliderContent {
    height: 100%;
    justify-content: flex-start;
  }

  .sliderContent-title {
    font-size: 2rem;
  }

  .sliderContent-paragraph {
    margin-top: 10px;
    line-height: 1.3;
    font-weight: 500;
  }

  .sliderImage {
    overflow: visible;
    background-color: aqua;
  }

  .sliderImage-img:nth-child(1) {
    opacity: 0.5;
  }

  .sliderImage-img {
    bottom: -100px;
    right: -60px;
  }

  .sliderImage-icon {
    bottom: -60px;
    font-size: 20rem;
  }
}